
__pycache__/MaskGenerator.cpython-38.pyc
__pycache__/Detector.cpython-38.pyc
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/FaceMask.iml
